{{ define "main" }}

<!--
<nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/blog">Blog</a></li>
                    <li class="breadcrumb-item"><a href="pages-inner.html">{{ .Params.category }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                </ol>
            </div>
        </div>
    </div>
</nav>-->

<section class="pb-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <h1 class="display-4">{{ .Title }}</h1>
                <span class="lead">{{ .Params.summary }}</span>
                <div class="media blog-post-author">
                    <img alt="Image" src="/img/avatars/{{ .Params.avatar }}.png" class="avatar avatar-sm mr-3" />
                    <div class="media-body">
                        <span class="h6">{{ .Params.author }}</span>
                        <span class="text-small">{{ .Date.Format "Jan 2, 2006" }} &bull; {{ .ReadingTime }} min read</span>
                    </div>
                </div>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="space-sm pb-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="pb-3">
                    <ins class="adsbygoogle"
                        style="display:block; text-align:center;"
                        data-ad-layout="in-article"
                        data-ad-format="fluid"
                        data-full-width-responsive="true"
                        data-ad-client="ca-pub-2876317644479184"
                        data-ad-slot="7818313839"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <article>
                    {{ .Content }}
                </article>
                <hr>
                <!--
                <div class="row justify-content-center mb-5">
                    <div class="col-auto text-center">
                        <span class="title-decorative">Share Article</span>
                        {{ partial "social" . }}
                    </div>
                </div>-->
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<script src="https://utteranc.es/client.js"
        repo="errata-ai/static-school"
        issue-term="title"
        label="discussion"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
{{ end }}
