{{ define "main" }}

<section class="space-xs text-center bg-gradient text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                💫
                <span class="mr-2">
                 Static School is 100% open source&mdash;check out the <a href="https://github.com/errata-ai/static-school" class="text-white">GitHub repository</a> to learn more!
                </span>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="space-xs pb-0">
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="text-center text-md-left section-intro mt-4">
                <h1 class="display-3">Leaderboard</h1>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<!--end of section-->
<section class="flush-with-above">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>{{ .Content }}</p>
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <span></span>
                    <div class="form-group">
                        <select class="form-control form-control-sm filter-select">
                            <option value="md" selected>Markdown</option>
                            <option value="adoc">AsciiDoc</option>
                            <option value="rst">reStructuredText</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
        <div id="ssg-list" class="row">
            <div class="col">
                <table class="table table-borderless table-responsive-sm table-hover align-items-center">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Language</th>
                            <th scope="col">Time (seconds)</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    <tbody id="md" class="list-md">
                        {{ with .Site.GetPage "section" "ssg" }}
                        {{ range .Pages }}
                            {{ $id := lower .Params.title }}
                            {{ $logo := .Resources.GetMatch "logo.png" }}
                            {{ $ssg := index .Site.Data.report $id }}

                            {{ if isset $ssg.data "Markdown" }}
                            <tr class="bg-white">
                                <th scope="row">
                                    <a class="media align-items-center" href="/ssg/{{ $id }}">
                                        <img alt="Logo for {{ $id }}" src="{{ $logo.RelPermalink }}" class="avatar rounded avatar-sm" />
                                        <div class="media-body">
                                            <span class="h6 mb-0">{{ .Title }}</span>
                                            <span class="text-muted">{{ index $ssg.version }}</span>
                                        </div>
                                    </a>
                                </th>
                                <td>{{ .Params.language.name }}</td>
                                <td class="time">{{ lang.NumFmt 3 (index $ssg.data.Markdown 2) }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="external-links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="External links" title="External links">
                                            <i class="icon-dots-three-horizontal"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="external-links">
                                            <a class="dropdown-item" href="{{ .Params.homepage }}"><i class="icon-home"></i> Website</a>
                                            <a class="dropdown-item" href="https://github.com/{{ .Params.repo }}"><i class="socicon-github"></i> Repository</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{ end }}
                        {{ end }}
                        {{ end }}
                    </tbody>

                    <tbody id="adoc" class="list-adoc d-none">
                        {{ with .Site.GetPage "section" "ssg" }}
                        {{ range .Pages }}
                            {{ $id := lower .Params.title }}
                            {{ $logo := .Resources.GetMatch "logo.png" }}
                            {{ $ssg := index .Site.Data.report $id }}

                            {{ if isset $ssg.data "AsciiDoc" }}
                            <tr class="bg-white">
                                <th scope="row">
                                    <a class="media align-items-center" href="/ssg/{{ $id }}">
                                        <img alt="Logo for {{ $id }}" src="{{ $logo.RelPermalink }}" class="avatar rounded avatar-sm" />
                                        <div class="media-body">
                                            <span class="h6 mb-0">{{ .Title }}</span>
                                            <span class="text-muted">{{ index $ssg.version }}</span>
                                        </div>
                                    </a>
                                </th>
                                <td>{{ .Params.language.name }}</td>
                                <td class="time">{{ lang.NumFmt 3 (index $ssg.data.AsciiDoc 2) }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="external-links-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="External links" title="External links">
                                            <i class="icon-dots-three-horizontal"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="external-links-2">
                                            <a class="dropdown-item" href="{{ .Params.homepage }}"><i class="icon-home"></i> Website</a>
                                            <a class="dropdown-item" href="https://github.com/{{ .Params.repo }}"><i class="socicon-github"></i> Repository</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{ end }}
                        {{ end }}
                        {{ end }}
                    </tbody>

                    <tbody id="rst" class="list-rst d-none">
                        {{ with .Site.GetPage "section" "ssg" }}
                        {{ range .Pages }}
                            {{ $id := lower .Params.title }}
                            {{ $logo := .Resources.GetMatch "logo.png" }}
                            {{ $ssg := index .Site.Data.report $id }}

                            {{ if isset $ssg.data "reStructuredText" }}
                            <tr class="bg-white">
                                <th scope="row">
                                    <a class="media align-items-center" href="/ssg/{{ $id }}">
                                        <img alt="Logo for {{ $id }}" src="{{ $logo.RelPermalink }}" class="avatar rounded avatar-sm" />
                                        <div class="media-body">
                                            <span class="h6 mb-0">{{ .Title }}</span>
                                            <span class="text-muted">{{ index $ssg.version }}</span>
                                        </div>
                                    </a>
                                </th>
                                <td>{{ .Params.language.name }}</td>
                                <td class="time">{{ lang.NumFmt 3 (index $ssg.data.reStructuredText 2) }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="external-links-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="External links" title="External links">
                                            <i class="icon-dots-three-horizontal"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dexternal-links-3">
                                            <a class="dropdown-item" href="{{ .Params.homepage }}"><i class="icon-home"></i> Website</a>
                                            <a class="dropdown-item" href="https://github.com/{{ .Params.repo }}"><i class="socicon-github"></i> Repository</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{ end }}
                        {{ end }}
                        {{ end }}
                    </tbody>

                </table>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

{{ end }}


{{ define "script" }}
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script type="text/javascript">
    var mdList = new List('ssg-list', {
        valueNames: ['time'],
        listClass: 'list-md'
    });

    var adocList = new List('ssg-list', {
        valueNames: ['time'],
        listClass: 'list-adoc'
    });

    var rstList = new List('ssg-list', {
        valueNames: ['time'],
        listClass: 'list-rst'
    });

    mdList.sort('time', { order: 'asc' });
    $(".filter-select").change(function() {
        var format = $(this).val();
        if (format === "md") {
            $("#md").removeClass("d-none");
            $("#adoc,#rst").addClass("d-none");
            mdList.sort('time', { order: 'asc' });
        } else if (format === "adoc") {
            $("#adoc").removeClass("d-none");
            $("#md,#rst").addClass("d-none");
            adocList.sort('time', { order: 'asc' });
        } else {
            $("#rst").removeClass("d-none");
            $("#md,#adoc").addClass("d-none");
            rstList.sort('time', { order: 'asc' });
        }
    });
</script>
{{ end }}
