<section class="space-xs text-center bg-gradient text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                💫
                <span class="mr-2">
                 Static School is 100% open source&mdash;check out the <a href="https://github.com/errata-ai/static-school" class="text-white font-weight-bold"><u>GitHub repository</u></a> to learn more!
                </span>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
