<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ if ne .Title .Site.Title }}{{ .Title }} - {{ end }} {{ .Site.Title }}</title>

    {{ if .IsHome }}
      <meta name="description" content="{{ .Site.Params.description }}">
    {{ end }}

    {{ if .Params.needsFA }}
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    {{ end }}

    {{ $theme := resources.Get "css/theme.css" }}
    {{ $custom := resources.Get "css/custom.css" }}

    {{ $css := slice $theme $custom | resources.Concat "css/bundle.css" | minify }}
    <style>{{ $css.Content | safeCSS }}</style>

    <!-- TODO: Remove these? -->
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="{{ "/css/socicon.min.css" | relURL }}">
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="{{ "/css/entypo.min.css" | relURL }}">

    {{ block "styles" . }}{{ end }}

    <script data-ad-client="ca-pub-2876317644479184" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
