<div class="nav-container">
    <div class="bg-light navbar-light" data-sticky="top">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/">
                    Static School
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="icon-menu h4"></i>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                    <span></span>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/guides" class="nav-link">Guides</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="componentsDropdown" role="button" data-toggle="dropdown">Resources</a>
                            <div class="dropdown-menu" aria-labelledby="componentsDropdown">
                                <a class="dropdown-item" href="https://jamstack.org/">
                                    <span class="h6 mb-0">JAMstack</span>
                                    <p class="text-small text-muted">Fast, secure, and pre-rendered webites</p>
                                </a>
                                <a class="dropdown-item" href="https://www.staticgen.com/">
                                    <span class="h6 mb-0">StaticGen</span>
                                    <p class="text-small text-muted">A leaderboard of static site generators</p>
                                </a>
                                <a class="dropdown-item" href="https://jamstackthemes.dev/">
                                    <span class="h6 mb-0">JAMstack Themes</span>
                                    <p class="text-small text-muted">A list of themes and starters for JAMstack sites</p>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="https://github.com/errata-ai/static-school#contributing" class="nav-link">Contributing</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://github.com/errata-ai/static-school" class="nav-link"><i class="socicon-github"></i> GitHub</a>
                        </li>
                    </ul>

                </div>
                <!--end nav collapse-->
            </nav>
        </div>
        <!--end of container-->
    </div>
</div>
