<div class="loader">
  <div class="loading-animation"></div>
</div>

<div class="navbar-container ">
  <nav class="navbar navbar-expand-lg navbar-dark badge-primary-3" data-sticky="top">
    <div class="container">
      <a class="navbar-brand fade-page" href="/">
        Static School
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <img class="icon navbar-toggler-open" src="/img/icons/interface/menu.svg" alt="menu interface icon" data-inject-svg />
        <img class="icon navbar-toggler-close" src="/img/icons/interface/cross.svg" alt="cross interface icon" data-inject-svg />
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <div class="py-2 py-lg-0">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/about/" class="nav-link">About</a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false" aria-haspopup="true">Guides</a>
              <div class="dropdown-menu row">
                <div class="col-auto" data-dropdown-content>
                  <div class="dropdown-grid-menu">
                    <a href="home-course.html" class="dropdown-item fade-page">Choosing a markup format</a>
                    <a href="home-course.html" class="dropdown-item fade-page">Linting & QA</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false" aria-haspopup="true">Tools</a>
              <div class="dropdown-menu row">
                <div class="col-auto" data-dropdown-content>
                  <div class="dropdown-grid-menu">
                  <a href="home-course.html" class="dropdown-item fade-page">SSG Finder</a>
                  <a href="home-coworking.html" class="dropdown-item fade-page">Coworking<span class="badge badge-primary ml-2">New</span></a>
                  <a href="home-cryptocurrency.html" class="dropdown-item fade-page">Cryptocurrency</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a href="/contribute/" class="nav-link">Contribute</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
