<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ if ne .Title .Site.Title }}{{ .Title }} - {{ end }} {{ .Site.Title }}</title>

    {{ if .IsHome }}
      <meta name="description" content="{{ .Site.Params.description }}">
    {{ end }}

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">
    <link href="{{ "/css/socicon.css" | relURL }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ "/css/entypo.css" | relURL }}" rel="stylesheet" type="text/css" media="all" />

    <link rel="stylesheet" href="{{ "/css/theme.min.css" | relURL }}">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

    {{- range .Params.css }}
      <link rel="stylesheet" href="/css/{{ . }}">
    {{- end }}

    <link rel="stylesheet" href="{{ "/css/custom.css" | relURL }}">
</head>
